.app {
  padding: 0px 100px 0px 100px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .app {
    padding: 0px 20px 0px 20px;
  }
}